@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Golf Matrix</h1>
    <p>Readable, writable repository for PGA SGTLs, stratagems, outcomes, course analyses, and more.</p>

    <p>Feel free to head over to the GitHub Repository to download code and run locally (in case of site issues) or modulate to the sport of your choosing!</p>
</div>
