@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Golf Matrix</h1>
    <p>Readable, writable repository for PGA SGTLs, stratagems, outcomes, course analyses, and more.</p>
</div>
